body {
    margin: 0;
    padding: 0;
    background: url("../resource/others/bg_stroke.jpg") top center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.background_img {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.background_img img {
    display: block;
    position: fixed;
    max-width: 100%;
    bottom: 0;
}

#school_list {
    border-radius: 1.5vw;
    display: block;
    position: absolute;
    background: black;
    opacity: 0;
    z-index: 3;
    outline: none;
    width: 71.75%;
    height: 10vw;
    left: 16.3%;
}

#school_list:active {
    opacity: 0.3;
}

#logo {
    left: -26%;
}

#qrcode {
    right: 5%;
    bottom: 7.5vw;
    width: 17%;
}

#school_detail img {
    display: block;
    position: fixed;
    max-width: 100%;
    bottom: 0;
}

