body {
    margin: 0;
    padding: 0;
    background: url("../resource/others/bg_stroke.jpg") top center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.input_option {
    margin: 0 0 0 0;
}

#index_title {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#index_title img {
    display: block;
    max-width: 100%;
    position: fixed;
    bottom: 0;
}

.options {
    display: block;
    left: 19.5%;
    background: black;
    max-width: 90%;
    position: absolute;
    opacity: 0;
    z-index: 3;
    width: 59%;
    height: 11.5vw;
    outline: none;
}

.options:active {
    opacity: 0.2;
    outline: none;
}

#btn1 {
    bottom: 82.5vw;
}

#btn2 {
    bottom: 65vw;
}

#btn3 {
    bottom: 46.5vw;
}

#index_page {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#next_btn {
    bottom: 21.5vw;
    display: block;
    left: 57.5%;
    background: black;
    max-width: 90%;
    position: absolute;
    opacity: 0;
    z-index: 4;
    width: 31.5%;
    height: 30.5vw;
    outline: none;
}

#next_btn:active {
    opacity: 0.2;
    outline: none;
}