body {
    margin: 0;
    padding: 0;
    /*background: url("../resource/others/bg_stroke.jpg") top center no-repeat;*/
    background-size: 100% 100%;
    overflow: hidden;
    background-attachment: fixed;
}

#background_border {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    border: 3vw solid #ddd;
    border-image: -webkit-linear-gradient(#09357e, #e586a5) 20 20;

    border-image: -moz-linear-gradient(#09357e, #e586a5) 20 20;

    border-image: -o-linear-gradient(#09357e, #e586a5) 20 20;

    border-image: linear-gradient(#09357e, #e586a5) 20 20;


    display: block;
    position: fixed;
    z-index: 0;
}

#logo {
    left: 30%;
    bottom: -3vw;
}

.background_img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.background_img img {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.departments {
    width: 100%;
}

.department_right {
    left: 51%;
    bottom: 29.5vw;
    position: absolute;
}

.department_left {
    left: 6%;
    bottom: 20vw;
    position: absolute;
}

.department_item {
    padding-bottom: 2.5vw;
}

.department_item_iphone {
    height: 5%;
    padding-bottom: 1.9vw;
}

.department_img {
    height: 7vw;
}

