body {
    margin: 0;
    padding: 0;
    background: url("../resource/others/bg_stroke.jpg") top center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    background-attachment: fixed;
}

/*大门背景图片样式*/
#background_door {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    position: fixed;
}

/*问题项容器样式*/
.question_item {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

/*图片样式*/
.question_item img {
    display: block;
    max-width: 100%;
    position: fixed;
}

/*
TODO: 添加单选按钮的静态及点击样式
 */
.input_option {
    display: none;
}

.input_label {
    display: block;
    position: absolute;
    background: black;
    opacity: 0;
    z-index: 3;
    outline: none;
}

.input_label:active {
    opacity: 0.3;
    outline: none;
}

#name-text {
    font-size: large;
    text-align: center;
    border-style: none;
    outline: none;
    display: block;
    left: 10%;
    background: none;
    max-width: 90%;
    position: absolute;
    z-index: 3;
    width: 80%;
    height: 15vw;
    top: 72vw;
}

#name-text::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #02468E;
    opacity: 0.6;
}
#name-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #02468E;
    opacity: 0.6;
}
#name-text::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #02468E;
    opacity: 0.6;
}
#name-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #02468E;
    opacity: 0.6;
}

.btn-submit {
    display: block;
    left: 26%;
    background: black;
    max-width: 90%;
    position: absolute;
    opacity: 0;
    z-index: 3;
    width: 48%;
    height: 15vw;
    outline: none;
    top: 112vw;
}

.btn-submit:active {
    opacity: 0.2;
}

#3_a3 {
    z-index: 0;
}

#slide_next {
    top: 163vw;
}
/*ul wrapper*/
#iSlider-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#iSlider-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#iSlider-wrapper li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}

#iSlider-wrapper li img {
    max-width: 100%;
    max-height: 100%;
}

.question_content {
    height: 100%;
    width: 100%;
    color: black;
}

.question_title {
    height: 40%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.question_title p {
    font-size: 25px;
    text-align: center;
    margin-top: 60%;
}

.question_options {
    height: 60%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.option_line {
    width: 70%;
    margin: auto;
    /*margin-top: 3%;*/
    /*margin-bottom: 3%;*/
}

.question_options input {
    width: 5%;
    margin-left: 5%;
}

.question_options label {
    font-size: 24px;
    width: 80%;
    margin-right: 10%;
    text-align: center;
}

.option_list {
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative;
    display: flex;
}

.option_list li {
    height: 25%;
    width: 100%;
    color: black;
    position: relative;
    display: none;
    list-style: circle;
}