body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: 100% 100%;
    overflow: hidden;
    background-attachment: fixed;
}

/*大门背景图片样式*/
#background_door {
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
}

#background_border {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    border: 3vw solid #ddd;
    border-image: -webkit-linear-gradient(#09357e, #e586a5) 20 20;

    border-image: -moz-linear-gradient(#09357e, #e586a5) 20 20;

    border-image: -o-linear-gradient(#09357e, #e586a5) 20 20;

    border-image: linear-gradient(#09357e, #e586a5) 20 20;


    display: block;
    position: fixed;
    z-index: 0;
}

/*问题项容器样式*/
.question_item {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

/*图片样式*/
.question_item img {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    pointer-events: none;
}

/*单选按钮及其绑定标签样式*/
.input_option {
    display: none;
}

.input_label {
    display: block;
    position: absolute;
    background: black;
    /*margin-bottom: -6vw;*/
    opacity: 0;
    z-index: 5;
    outline: none;
    /*transform:translate(0, -6vw);         !* W3C标准 *!*/
    /*-ms-transform:translate(0, -6vw);     !* IE 9 *!*/
    /*-moz-transform:translate(0, -6vw);    !* Firefox *!*/
    /*-webkit-transform:translate(0, 6vw); !* Safari 和 Chrome *!*/
    /*-o-transform:translate(0, -6vw);      !* Opera *!*/
}

.input_label:active {
    opacity: 0.3;
    outline: none;
}

/*提交页姓名填写标签样式*/
#name-text {
    font-size: large;
    text-align: center;
    border-style: none;
    outline: none;
    display: block;
    left: 10%;
    background: none;
    max-width: 90%;
    position: absolute;
    z-index: 3;
    width: 80%;
    height: 15vw;
    bottom: 91vw;
}

/*填充字样式*/
#name-text::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #02468E;
    opacity: 0.6;
}
#name-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #02468E;
    opacity: 0.6;
}
#name-text::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #02468E;
    opacity: 0.6;
}
#name-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #02468E;
    opacity: 0.6;
}

/*提交按钮（透明）*/
#btn-submit {
    display: block;
    left: 26%;
    background: black;
    max-width: 90%;
    position: absolute;
    opacity: 0;
    z-index: 3;
    width: 48%;
    height: 15vw;
    outline: none;
    bottom: 51.5vw;
}

#btn-submit:active {
    opacity: 0.2;
}

/*滑动下一页提示图标*/
#slide_next {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 1vw;
}


/*ul wrapper*/
#iSlider-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#iSlider-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#iSlider-wrapper li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}

#iSlider-wrapper li img {
    max-width: 100%;
    max-height: 100%;
}